/* Placer ici votre code CSS */
.navbar-brand{
    margin-left: 15px;
}
img {
    height: 40px;
}
body {
    background: #5fe109;
    background: -webkit-linear-gradient(to right, #5fe109, #d3d3d3);
    background: linear-gradient(to right, #5fe109, #d3d3d3);
    min-height: 100vh;
}
header{
    box-shadow: 0px 5px 5px gray;
}
.auteur h1{
    text-align: center;
    margin: 50px;
    position: absolute;
}
.auteur a {
    color: #5fe109;
}